{% extends 'base.html.twig' %}

{% block title 'Tysm-E-Commerce' %}

{% block body %}

    <div class="jumbotron text-center">
        <h1>Tysm-E-Commerce</h1>
        <p>Bienvenue sur ce site de e-commerce purement métisse et LGBT</p>
    </div>

    <div class="container">
        <h2>Les derniers articles</h2>
        <div class="row flex">
            {% for  article in articles %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="width: 100%">
                                <a href="{{ path('article.show', { id: article.id }) }}">{{ article.title }}</a>
                                <img src="{{ article.imageArticle }}" alt="Image de l'article" style="width: 100%">
                                <p>{{ article.description |slice(0, 6 ) }}...</p>
                                <hr>
                                <div class="text-primary" style="font-weight: bold">{{ article.FormattedPrix }} €</div>
                            </h5>
                            <a href="{{ path('article.show', { id: article.id }) }}">
                                <button class="btn btn-secondary">Voir le détail</button>
                            </a>

                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}